# ==========================================
# 1. Configuración de Entorno Local e Infraestructura
# ==========================================
.env
.env.local
*.log

# Ignorar los datos físicos persistidos por la base de datos de Docker
infra/postgres_data/

# ==========================================
# 2. Servicios / IDEs / Editores comunes
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
